<% content_for :head do %>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<% end %>
<div class="container mx-auto">
  <div class="bg-white mb-4 rounded overflow-hidden">
    <div class="flex">
      <!-- Voting -->
      <div class="text-center px-2 pt-2">
        <div><i class="fas fa-arrow-up"></i></div>
        <div><b>N</b></div>
        <div><i class="fas fa-arrow-down"></i></div>
      </div>
      <!-- /Voting -->
      <div class="p-1 bg-white flex-grow">
        <div class=""><b>r/<%= @post.community.name %></b> · Posted by u/<%= @post.user.username %> Time ago</div>
        <div class="font-bold text-2xl"><%= @post.title %></div>
        <div>
          <a href="" class="mx-1"><i class="px-1 fas fa-comment-alt"></i>N Comments</a>
          <a href="" class="mx-1"><i class="px-1 fas fa-share"></i>Share</a>
          <a href="" class="mx-1"><i class="px-1 fas fa-bookmark"></i>Save</a>
        </div>
      </div>
    </div>
    <!-- Comments -->
    <% @comments.each do |comment|%>
    <div>
      <div><%= comment.content %></div>
      <div><%= comment.user.username %></div>
    </div>
    <% end %>
    <!-- /Comments -->
    <div>
  </div>
</div>
